
extends layout.pug




block nav
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/')
          p S.P.A 🐱 🐶 🐰 🐦
      a.btn.btn-danger.navbar-right.navbar-btn(href='/addanimal') Faire un Signalement


block main
  .col-md-6.col-md-offset-3.well
    form.form-horizontal(action='/update/'+animaux._id, method='post')
      // Form Name
      legend Editer un signalement
      // Select Basic
      .form-group
        label.col-md-4.control-label(for='brigade') Assigner une brigade
        .col-md-4
          select#brigade.form-control(name='brigade')
            if animaux.brigade
              option(value=''+animaux.brigade) #{animaux.brigade}
            option(value='75015-A') 75015-A
            option(value='75015-B') 75015-B
            option(value='75002') 75002
            option(value='75001') 75001
            option(value='75006-C') 75006-C
      // Text input
      .form-group
        label.col-md-4.control-label(for='Address') Nouvelle position
        .col-md-4
          input#Adress.form-control.input-md(name='Address',required='', type='text', value=''+animaux.adresse)
          span.help-block Merci de rentrer l'adresse où vous avez vu l'animal.
      // Select Basic
      .form-group
        label.col-md-4.control-label(for='Animal') Type d'animal
        .col-md-4
          select#Animal.form-control(name='Animal')
            option(selected='selected',value=''+animaux.animal) #{animaux.animal}
            option(value='Chat') Chat
            option(value='Chien') Chien
            option(value='Perroquet') Perroquet
            option(value='Lapin') Lapin
      // Text input
      .form-group
        label.col-md-4.control-label(for='couleur') Couleur
        .col-md-4
          input#couleur.form-control.input-md(name='couleur', type='text', value=''+animaux.couleur)
      // Select Basic
      .form-group
        label.col-md-4.control-label(for='etat') Quel est l'état de l'animal ?
        .col-md-4
          select#etat.form-control(name='etat')
            option(selected='selected',value=''+animaux.etat) #{animaux.etat}
            option(value='Très faible') Très faible
            option(value='Faible') Faible
            option(value='Moyen') Moyen
            option(value='Bon') Bon
      // Multiple Radios (inline)
      .form-group
        label.col-md-4.control-label(for='collier') Avait t'il un collier ?
        .col-md-4
          label.radio-inline(for='collier-0')
            input#collier-0(type='radio', name='collier', value='1',checked)
            |       oui
          label.radio-inline(for='collier-1')
            input#collier-1(type='radio', name='collier', value='0')
            |       non
      // Text input
      .form-group
        label.col-md-4.control-label(for='email') email
        .col-md-4
          input#email.form-control.input-md(name='email', type='text', value=''+animaux.alerteur, required='')
          span.help-block
            | Merci de laisser votre email pour que nous vous tenions au courant de la prise en charge de l'animal.
      // Button
      .form-group
        label.col-md-4.control-label(for='submit') Merci pour votre contribution
        .col-md-4
          button#submit.btn.btn-primary( type='submit', name='submit') Metre à Jour
